:root{
    --vermelho:#e50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body{
    background: var(--preta);
    font-family: Arial;
    color: white;
}


header .container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 36px;

}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}

header nav a:hover{
    color: #fff;  
}

/* jogo principal */

.jogo-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('https://gamefaqs.gamespot.com/a/screen/full/5/5/2/440552.jpg');

    height:400px;
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.jogo-principal .nova-descricao{
    margin-top: 10px;
}

.jogo-principal .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS';
    margin-top: 15px;
    text-align: center;

}



.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition:0.7s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.container{
    margin-left: 10px;
}

.jogo-principal .container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 

}

.jogo-principal .song-list{
    width: 35%;

    text-align: center;
    height: 400px;

}
.jogo-principal .info-adicional{
    width: 35%;

    text-align: justify;
    height: 400px;
}


.box-jogo{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}



.carrossel-jogos{
    margin-top: 5px;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #loading-image {
      width: 180px;
      height: 180px;
      animation: spin 5s infinite linear;
      z-index: 100;
      margin-top: 15px;
      
  }

  #container-desliza {
    height: 180px;
    overflow: hidden;

  }
  
  #desliza-texto {
    height: 400px;
    text-align: center;
  
    transform: translateY(100%);
    animation: desliza-anima 10s linear infinite;
  }
  
  
  
  @keyframes desliza-anima {
    from {
      transform: translateY(50%);
    }
    
    to {
      transform: translateY(-100%);
    }
  }